:root {
  --black: #3c4043;
}

* {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
  justify-content: center;
  flex-flow: column nowrap;
}

.frame-container {
  flex: 1;
  padding: 0rem 2vw;
  padding-top: 2rem;
  display: flex;
}

#map {
  flex: 1;
}

header {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: var(--black);
}

.header-border {
  border-bottom: solid 1px var(--black);
  width: 60%;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > div {
    display: flex;
    flex: 1 1 0;
    padding: 3vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 416px) {
  footer {
    display: block;
    .left-container {
      padding: 0;
    }
    .right-container {
      padding-top: 0;
    }
  }
}

.right-container {
  flex-flow: column nowrap;
  gap: 1rem;
}

.right-container .number-input-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.right-container .input-text {
  font-style: italic;
}

.right-container .button-go {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.right-container input[type="number"] {
  border-radius: 0.2rem;
  font-size: 1.5rem;
  border: solid 0.1rem var(--black);
  padding: 1rem;
  width: 5rem;
}

input[type="button"] {
  appearance: none;
  background-color: #fff;
  border-radius: 4rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--main-color-black);
  cursor: pointer;
  font-size: calc(1rem + 0.75vw);
  font-weight: 500;
  padding: clamp(0.1rem, calc(0.1rem + 2.5vh), 2rem)
    clamp(0.3rem, calc(0.3rem + 5vw), 4rem);
}

input[type="button"]:hover {
  background-color: #ededed;
}

input[type="button"]:active {
  border: 0.1rem solid black;
}
